xsd/note_list.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="note_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="note">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="text" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="version" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="note_container">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="text" type="xs:string" />
							<xs:element name="note">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="version" type="xs:unsignedShort" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="version" type="xs:unsignedShort" use="required" />
						<xs:attribute name="open" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>